body{
    font-family: 'Josefin Sans', sans-serif;
    background-image: url(./icons/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

/* typography */
.paragraph-container h1{
    font-size: 4rem;
    color: hsl(0, 6%, 24%);
}
.paragraph-container span{
    color: hsl(0, 36%, 70%) ;
    font-weight: 300;
}
.paragraph-container h2{
    color: hsl(0, 36%, 70%);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}
input[type=email]{
    height: 2.7rem;
    width: 90%;
    background-repeat: no-repeat;
    background-position:18rem center;
    border-radius: 25px;
    border: 1px solid hsl(0, 3%, 82%);
    padding-left: 1rem;
    font-size: 14px;
    font-family:'Josefin Sans', sans-serif ;
}
input[type=email]:focus{
    outline: 2px solid hsl(0, 61%, 61%);
}

input[type=submit]{
    background-image:url(./icons/icon-arrow.svg), linear-gradient(135deg,hsl(0, 80%, 86%), hsl(0, 74%, 74%)) ;
    background-position: center;
    background-repeat: no-repeat; 
    width: 6rem;
    height: 3rem;
    margin-left: -2rem;
    border-radius: 25px;
    border : none;
    z-index: 1;
}
input[type=submit]:hover{
    background-image:url(./icons/icon-arrow.svg), linear-gradient(135deg, hsl(0, 80%, 90%), hsl(0, 100%, 90%));
    box-shadow: 2px 7px 5px hsl(0, 100%, 90%);    
}
input[type=email]{
    outline: none;
}
form{
    display: flex;
    align-items: center; 
}
.input-email-container{
    position: relative;
}
.error-icon{
    position: absolute;
    top:10px;
    right: 6rem;
    display: none;
}
.error-message{
    flex-direction: column;
    padding-left: 1rem;
    display: none; 
}
.error-message p{
    color:hsl(0, 93%, 68%);
     
}
.image-container-mobile{
    display: none;
}
/* layout */
main{
    display: flex;
}
.text-container{
    width: 50%;
    display: grid;
    place-items: center;
}
.text-content{
    width: 70%;
}
.image-container{
    width: 50%;
} 
.image-container img{
    height: 100vh;
    width: 100%;
}
.show-error-icon{
    display: block;
}
.show-error-message{
    display: block;
}
.show-outline{
    display: none;
}
/* responsiveness with media queries */
@media (max-width:1000px){
    .text-content{
        width: 80%;
    }
}
@media (max-width:850px){
    .text-content{
        width: 95%;
    }
}
@media (max-width:750px){
    main{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    .image-container{
        order: 0;
    }
    .text-container{
        order: 1;
        width: 100%;
    }
    .paragraph-container h1{
        font-size: 3.5rem;
    }
    .text-content{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 5rem;

    }
     
    .apparel-logo{
        text-align: center;
        width: 50%;
        margin-block: 3rem;
    } 
    .paragraph-container{
      
        text-align: center;
        width: 80%;
        align-self: center;
    }
    .image-container{
        display: none;
        
    }
    .image-container-mobile {
        display: block;
        width: 100%;
    }
    .image-container-mobile img{
        width: 100%;
    }
    .input-email-container{
        display: grid;
        place-items: center;
    }
    form{
        width: 80%;
    }
    .error-icon{
        position: absolute;
        top:10px;
        right: 11rem;
        display: none;
    }
    .show-error-icon{
        display: block;
    }
    
}
@media (max-width:500px){
    .error-icon{
        position: absolute;
        top:10px;
        right: 8rem;
        display: none;
    }
    .show-error-icon{
        display: block;
    }
    .paragraph-container{
        width: 90%;
    }
    form{
        width: 90%;
    }
}